@font-face {
  font-family: "iconfont"; /* Project id 4535535 */
  src: url('iconfont.woff2?t=1740732271964') format('woff2'),
       url('iconfont.woff?t=1740732271964') format('woff'),
       url('iconfont.ttf?t=1740732271964') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31hongbao:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-tesetuijian:before {
  content: "\e7b6";
}

.icon-a-tianjiaguanzhuguanzhu:before {
  content: "\e6aa";
}

.icon-mti-tuisong:before {
  content: "\e9dd";
}

.icon-xiangxiajiantoucuxiao:before {
  content: "\e8c8";
}

.icon-xiangshangjiantoucuxiao:before {
  content: "\e8d8";
}

.icon-shezhi:before {
  content: "\e61d";
}

.icon-guanbi:before {
  content: "\e647";
}

.icon-dianhua:before {
  content: "\e8c3";
}

.icon-saoyisao:before {
  content: "\e6b3";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62f";
}

.icon-sousuo-zhankai:before {
  content: "\e62c";
}

.icon-xiangshangshousuo:before {
  content: "\e62e";
}

.icon-xiugaimima:before {
  content: "\e612";
}

.icon-tuichu1:before {
  content: "\e622";
}

.icon-peihuodan:before {
  content: "\e638";
}

.icon-dabaocaiji:before {
  content: "\e611";
}

.icon-shoaddtocart:before {
  content: "\f42d";
}

.icon-chengzhong:before {
  content: "\e617";
}

.icon-yifahuo:before {
  content: "\e613";
}

.icon-daishenhedingdan:before {
  content: "\e64c";
}

.icon-fwy-case-check-lined:before {
  content: "\e66c";
}

.icon-biaoji-m:before {
  content: "\e7dc";
}

.icon-biaoji-1:before {
  content: "\e681";
}

.icon-shuaxin:before {
  content: "\e619";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-tuandui:before {
  content: "\e61c";
}

.icon-mima1:before {
  content: "\e608";
}

.icon-tubiao:before {
  content: "\e630";
}

.icon-diqu:before {
  content: "\e65b";
}

.icon-jiaoseshouquan:before {
  content: "\e640";
}

.icon-shangchengdingdan:before {
  content: "\e672";
}

.icon-denglurizhi:before {
  content: "\e96b";
}

.icon-dangjian_caozuorizhi-25:before {
  content: "\e677";
}

.icon-quanxianziyuan:before {
  content: "\e61f";
}

.icon-yemian:before {
  content: "\e633";
}

.icon-wenjian:before {
  content: "\eac5";
}

.icon-tuichu:before {
  content: "\e67d";
}

.icon-guanliyuan:before {
  content: "\e60a";
}

.icon-duizhang:before {
  content: "\e64e";
}

.icon-xitongshezhixianxing:before {
  content: "\e667";
}

.icon-tuihuorukuqingdan-:before {
  content: "\e62b";
}

.icon-jianhuo:before {
  content: "\e955";
}

.icon-qitadingdan:before {
  content: "\e66b";
}

.icon-daishendan:before {
  content: "\e632";
}

.icon-shouhouliucheng:before {
  content: "\e64f";
}

.icon-xiaoshoubaobiao:before {
  content: "\e77e";
}

.icon-tubiaozhizuomoban-119:before {
  content: "\e62d";
}

.icon-zijinguanli:before {
  content: "\e650";
}

.icon-kuaididayin:before {
  content: "\e646";
}

.icon-chukudan:before {
  content: "\e9fc";
}

.icon-jijinbeixuanku:before {
  content: "\e705";
}

.icon-icon_jichudanganfile:before {
  content: "\e603";
}

.icon-shouhouguanli:before {
  content: "\e616";
}

.icon-ERP_xqcaigou:before {
  content: "\e658";
}

.icon-shangpin:before {
  content: "\e64b";
}

.icon-baobiaofenxi:before {
  content: "\e662";
}

.icon-ico_getiaozhongxin_xiaoshoukaidan:before {
  content: "\e8db";
}

.icon-caiwuguanli:before {
  content: "\e64a";
}

.icon-goodswhtotalStock:before {
  content: "\e669";
}

.icon-biaoqiankuozhan_shouye-146:before {
  content: "\eb0a";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-mima:before {
  content: "\e635";
}

.icon-yanjing-biyan:before {
  content: "\e63a";
}

