:root {
	--el-color-primary: #2288fc;
	--el-color-primary-light-3: #e8f3ff;
	--el-color-primary-light-5: #4f87fe;
	--el-color-primary-light-7: #4f87fe;
	--el-color-primary-light-8: #ebefff;
	--el-color-primary-light-9: #ebefff;
	--el-color-primary-dark-2: #3b64fc;
	--el-component-size-small: 32px !important;
	--el-dialog-title-bg: #f3f3f3;
	--dialog-title-f: 16px;
	--dialog-title-c: #303133;
	--dialog-radius: 5px;
	--el-border-color: #eee;
	--el-font-size-base: 12px;
	// --el-component-size-small: 28px !important;
	--right-content-box-height: calc(100vh - 1px) !important;
	--common-header-box-height: 1px !important;
	--el-button-hover-border-color: #2288fc;
	--color-primary-head-bg: #374979; //导航颜色
	--color-primary-btn-bg: #2288fc;
	--color-primary-btn-text: #ffffff;
	--el-button-disabled-bg-color: #f7f7f7;
	--color-price: #f5222d;
	--color-price2: #58a55c;
	--color-tips: #e2effc;
	--el-menu-item-height: 48px;
	--el-menu-active-color: #fff;
	--el-menu-level-padding: 8px;
}

/* 文字主题色 */
.theme-font {
	color: var(--el-color-primary);
}

/* 文字主题色 */
.theme-bg {
	background-color: var(--el-color-primary);
}

/* 文字主题色 */
.theme-border {
	border-color: var(--el-color-primary);
}
.el-button--primary.is-text {
	color: var(--el-color-primary);
}
/*普通按钮 */
.el-button {
	--el-button-text-color: var(--dialog-title-c); //文字颜色
	--el-button-bg-color: var(--el-color-white); //背景颜色
	--el-button-border-color: var(--el-border-color); //边框颜色
	--el-button-outline-color: var(--el-color-primary); //内边框颜色
	--el-button-hover-link-text-color: var(--el-color-primary); //链接文本样式的按钮颜色
	--el-button-hover-text-color: var(--el-color-primary); //hover文字颜色
	--el-button-hover-bg-color: var(--el-color-primary-light-3); //hover背景色
	--el-button-hover-border-color: var(--el-color-primary); //hover边框颜色
	--el-button-active-color: var(--el-color-primary); //选中颜色
	--el-button-active-bg-color: var(--el-color-primary); //选中背景颜色
	--el-button-active-border-color: var(--el-color-primary); //选中边框颜色
	--el-button-disabled-text-color: var(--el-color-white); //禁用状态文本
	--el-button-disabled-bg-color: var(--el-button-disabled-bg-color); //禁用状态背景色
	--el-button-disabled-border-color: var(--el-button-disabled-bg-color); //禁用状态边框
}
/* 按钮主题色 */
.el-button--primary {
	--el-button-text-color: var(--el-color-white); //文字颜色
	--el-button-bg-color: var(--el-color-primary); //背景颜色
	--el-button-border-color: var(--el-color-primary); //边框颜色
	--el-button-outline-color: var(--el-color-primary); //内边框颜色
	--el-button-hover-link-text-color: var(--el-color-primary); //链接文本样式的按钮颜色
	--el-button-hover-text-color: var(--el-color-primary); //hover文字颜色
	--el-button-hover-bg-color: var(--el-color-primary-light-3); //hover背景色
	--el-button-hover-border-color: var(--el-color-primary); //hover边框颜色
	--el-button-active-color: var(--el-color-primary); //选中颜色
	--el-button-active-bg-color: var(--el-color-primary); //选中背景颜色
	--el-button-active-border-color: var(--el-color-primary); //选中边框颜色
	--el-button-disabled-text-color: var(--el-color-white); //禁用状态文本
	--el-button-disabled-bg-color: var(--el-button-disabled-bg-color); //禁用状态背景色
	--el-button-disabled-border-color: var(--el-button-disabled-bg-color); //禁用状态边框
}
/* 辅助按钮 */
.el-button--success {
	--el-button-text-color: var(--el-color-white); //文字颜色
	--el-button-bg-color: var(--el-color-primary); //背景颜色
	--el-button-border-color: var(--el-color-primary); //边框颜色
	--el-button-outline-color: var(--el-color-primary); //内边框颜色
	--el-button-hover-link-text-color: var(--el-color-white); //链接文本样式的按钮颜色
	--el-button-hover-text-color: var(--el-color-white); //hover文字颜色
	--el-button-hover-bg-color: var(--el-color-primary-light-3); //hover背景色
	--el-button-hover-border-color: var(--el-color-primary); //hover边框颜色
	--el-button-active-color: var(--el-color-primary); //选中颜色
	--el-button-active-bg-color: var(--el-color-primary); //选中背景颜色
	--el-button-active-border-color: var(--el-color-primary); //选中边框颜色
	--el-button-disabled-text-color: var(--el-color-white); //禁用状态文本
	--el-button-disabled-bg-color: var(--el-button-disabled-bg-color); //禁用状态背景色
	--el-button-disabled-border-color: var(--el-button-disabled-bg-color); //禁用状态边框
}
/* 次级辅助按钮 */
.el-button--warning {
	--el-button-text-color: var(--el-color-white); //文字颜色
	--el-button-bg-color: var(--el-color-primary); //背景颜色
	--el-button-border-color: var(--el-color-primary); //边框颜色
	--el-button-outline-color: var(--el-color-primary); //内边框颜色
	--el-button-hover-link-text-color: var(--el-color-white); //链接文本样式的按钮颜色
	--el-button-hover-text-color: var(--el-color-white); //hover文字颜色
	--el-button-hover-bg-color: var(--el-color-primary-light-3); //hover背景色
	--el-button-hover-border-color: var(--el-color-primary); //hover边框颜色
	--el-button-active-color: var(--el-color-primary); //选中颜色
	--el-button-active-bg-color: var(--el-color-primary); //选中背景颜色
	--el-button-active-border-color: var(--el-color-primary); //选中边框颜色
	--el-button-disabled-text-color: var(--el-color-white); //禁用状态文本
	--el-button-disabled-bg-color: var(--el-button-disabled-bg-color); //禁用状态背景色
	--el-button-disabled-border-color: var(--el-button-disabled-bg-color); //禁用状态边框
}

.el-input_ {
	font-size: 12px;
}
.el-input--small .el-input__wrapper {
	height: 32px;
	line-height: 32px;
}
.product-content {
	padding: 12px;
	background-color: #fff;
}
.common-seach-wrap > div {
	// margin: 12px;
}
/* 搜索表单 */
.common-seach-wrap {
	padding: 12px 12px 0 12px;
	background-color: #fff;
	margin-bottom: 12px;
	.el-form-item {
		margin-right: 10px;
	}
	.el-input__wrapper {
		padding: 0 8px;
	}

	.el-form-item__label {
		--el-text-color-regular: #606266;
		font-weight: 400;
	}

	.el-form--inline .el-form-item {
		// margin-right: 10px;
		margin-right: 0;
		padding-right: 10px;
	}
}
.el-table .el-table__cell {
	padding: 9px 0 !important;
}
.el-form-item--small {
	margin-bottom: 12px !important;
}
.el-form-item--small .el-form-item__label {
	height: var(--el-component-size-small) !important;
	line-height: var(--el-component-size-small) !important;
}

.el-form-item__label {
	font-weight: bold;
	padding: 0 9px 0 0;
}
/* 普通表单 */
.el-form-item__content {
	display: block;
	line-height: 32px !important;
	margin-top: 1px;

	.gray9 {
		width: 100%;
	}

	.el-row {
		.img {
			width: 100%;
			margin-top: 10px;
		}
	}

	.el-date-editor {
		--el-date-editor-width: auto;
	}

	span {
		margin: 0 6px;
	}

	label span {
		margin: 0 !important;
	}

	.el-input span {
		margin: 0;
	}

	.el-color-picker--small .el-color-picker__trigger {
		width: 32px;
		height: 32px;

		span {
			margin: 0 !important;
		}
	}
}

/* 表格 */
.el-table .cell {
	line-height: 24px !important;
	font-size: 12px !important;

	.el-button.el-button--small.el-button--text + .el-button.el-button--small.el-button--text {
		margin-left: -12px !important;
	}
}
.el-dialog__footer {
	padding-top: 0;
}
/* 按钮 */
.el-button--small {
	--el-button-size: var(--el-component-size-small);
}

.common-button-wrapper {
	.el-button--small {
		padding: 5px 22px !important;
	}
}

/* 弹框 */
.el-dialog__body {
	overflow: hidden;
	padding: 12px !important;
	flex: 1;
	overflow-y: auto;
	// .dialog-footer {
	// 	float: right;
	// }
}
.el-dialog {
	--el-dialog-width: 820px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	border-radius: var(--dialog-radius);
	padding: 0 !important;
}
.el-dialog__header {
	// background-color: var(--el-dialog-title-bg);
	border-bottom: 1px solid #eee;
	margin-right: 0 !important;
	padding: 11px !important;
	border-top-left-radius: var(--dialog-radius);
	border-top-right-radius: var(--dialog-radius);
	.el-dialog__title {
		font-size: var(--dialog-title-f);
		color: var(--dialog-title-c);
	}
	.el-dialog__headerbtn {
		width: 24px;
		height: 24px;
		font-size: 24px;
		font-weight: bold;
		top: 16px;
		right: 16px;
		line-height: 1;
		.el-dialog__close {
			width: 24px;
			height: 24px;
			font-size: 24px;
			font-weight: bold;
			color: #333;
		}
	}
}
.dialog-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 9px 0;
	// border-top: 1px solid #eee;
	.el-button {
		// border-radius: 0;
		font-size: 14px;
		height: 32px;
		line-height: 32px;
		min-width: 96px;
	}
}
// .el-dialog__headerbtn {
// 	.el-icon svg {
// 		width: auto !important;
// 		height: auto !important;
// 	}
// }
.el-dialog__footer {
	padding: 0 !important;
}
.table-wrap {
	height: 100%;
	// padding: 0 20px 20px;
}

.el-tabs {
	.el-tabs__item {
		font-size: 12px;
		font-weight: bold !important;

		span {
			font-weight: inherit;
		}
	}
}

.el-table {
	--el-table-border-color: #eeeeee !important;
	--el-table-header-bg-color: #e8f3ff !important;
	--el-table-header-text-color: #101010 !important;
	width: 100% !important;

	.el-table__cell {
		position: static !important;
	}
}

.el-form {
	--el-text-color-regular: #333;
	--el-font-size-base: 12px !important;
}

.el-form-item {
	--font-size: 12px !important;

	.el-form-item {
		margin-bottom: 18px;
	}
}

.el-radio__input.is-checked + .el-radio__label {
	span {
		color: var(--el-text-color-regular);
	}
}

.pagination {
	overflow: hidden;

	.el-pagination {
		float: right;
	}
}

.upload-dialog .pagination-wrap {
	float: right;
}

.el-icon svg {
	height: 1.5em;
	width: 1.5em;
}
.img-select .el-icon svg {
	width: 24px;
	height: 24px;
}

/* 图片查看器 */
.el-image-viewer__canvas {
	padding: 20px;
	box-sizing: border-box;
}
/* 弹窗 */
.el-overlay {
	position: fixed;
	height: var(--right-content-box-height);
	top: var(--common-header-box-height);
	left: 0;
}
.el-overlay-dialog {
	position: absolute;
}
.el-dialog.is-fullscreen {
	width: 100%;
	max-height: initial;
}
.el-dialog.is-fullscreen .el-form-item__content .el-input--small {
	width: 100%;
}

[class*='el-col-'] {
	.el-form-item__content .el-input--small {
		width: 100%;
	}
	.el-select--small {
		width: 100%;
	}
}
.el-select--small .el-input__wrapper {
	height: 100%;
}
.el-select--small .el-select__wrapper {
	min-height: 32px !important;
}
.el-select--small {
	width: 100%;
	min-width: 172px;
}
.set-main {
	height: calc(100vh - 84px - 24px);
	display: flex;
	flex-direction: column;
}
.page-mine-box {
	height: calc(100vh - 84px - 24px);
}
.el-card {
	border: none;
}
.el-pagination__sizes .el-select--small {
	width: 100px;
}
.el-dialog__header {
	font-weight: bold;
}
.el-dialog__header .my-header .el-icon {
	width: 24px;
	height: 24px;
	font-size: 24px;
	font-weight: bold;
	color: #838a9d;
	cursor: pointer;
	margin-left: 5px;
}
.acea-row {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/* 辅助类 */
}

.acea-row.row-middle {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.acea-row.row-top {
	-webkit-box-align: start;
	-moz-box-align: start;
	-o-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.acea-row.row-bottom {
	-webkit-box-align: end;
	-moz-box-align: end;
	-o-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.acea-row.row-center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.acea-row.row-right {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-o-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.acea-row.row-left {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-o-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.acea-row.row-between {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.acea-row.row-around {
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.acea-row.row-column-around {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.acea-row.row-column {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.acea-row.row-column-between {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

/* 上下左右垂直居中 */
.acea-row.row-center-wrapper {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/* 上下两边居中对齐 */
.acea-row.row-between-wrapper {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.mobile-config {
	width: 100%;
	padding: 15px;
}
